PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=asow
DATABASE_USER=asow
DATABASE_PASSWORD=your_silly_password_here
DATABASE_CONNECTION_LIMIT=10

JWT_SECRET=strong_secret_key_here
REDIS_URL=redis://localhost:6379
NODE_ENV=development
GAME_SPEED=1
